name: Create Branch Test
run-name: Create Branch Test
on:
  workflow_dispatch:
    inputs:
      version:
        description: ""
        type: string
        required: true
jobs:
  create-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Create branch
        id: create_branch
        uses: nookyo/qubership-workflow-hub/actions/create-branch@main
        with:
          source-ref: ${{ github.event.inputs.version }}
          check-branch: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Output created branch name
        run: |
          echo "Created branch name: ${{ steps.create_branch.outputs.branch-name }}"
